.App {
  font-family: sans-serif;
  text-align: center;
}

.note {
  display: grid;
  border: solid 1px bisque;
  height: auto;
  grid-template-columns: 50px;
  width: 200px;
  background-color: burlywood;
}

.indent {
  margin: 1px;
}
